<h2>Amis</h2>

<ul div="friends">
  <li class="friends__item">
    <div class="friends__item__picture"></div>
    <h3 class="friends__item__lastname">Utilisateur</h3>
    <h3 class="friends__item__firstname">1</h3>
  </li>
  <li class="friends__item">
    <div class="friends__item__picture"></div>
    <h3 class="friends__item__lastname">Utilisateur</h3>
    <h3 class="friends__item__firstname">2</h3>
  </li>
  <li class="friends__item">
    <div class="friends__item__picture"></div>
    <h3 class="friends__item__lastname">Utilisateur</h3>
    <h3 class="friends__item__firstname">3</h3>
  </li>
<ul>
