<div class="menu">
  <div class="menu__profile">
    <div class="menu__profile__picture"></div>
    <a [routerLink]="['/user/', userId]" class="menu__profile__edit"></a>
  </div>
  <div class="menu__table">
    <div class="menu__table__title">
      <h2 [className]="(bets) ? 'active' : 'inactive'" (click)="toggleBets()">Mes zap'pa</h2>
      <h2 [className]="(friends) ? 'active' : 'inactive'" (click)="toggleFriends()">Mes amis</h2>
      <h2 [className]="(settings) ? 'active' : 'inactive'" (click)="toggleSettings()">Paramètres</h2>
    </div>
    <div class="menu__table__content">
      <app-bet-list *ngIf="bets"></app-bet-list>
      <app-menu-settings *ngIf="settings"></app-menu-settings>
      <app-menu-friends *ngIf="friends"></app-menu-friends>
    </div>
  </div>
</div>
