<form (submit)="onUpdate(updateForm)" #updateForm="ngForm" class="updateForm">
  <label for="email">Email
    <div *ngIf="authData">
      <input
        type="email"
        placeholder="Adresse e-mail"
        [(ngModel)]="authData.email"
        name="email"
        id="email"
        #emailInput="ngModel"
        required
        email
        value="{{ authData.email }}"
      >
    </div>
  </label>

  <div *ngIf="authData">
    <label for="password">Mot de passe
      <input
        type="password"
        placeholder="Mot de passe"
        name="password"
        id="password"
        [(ngModel)]="authData.password"
        #passwordInput="ngModel"
        required
        value="{{ authData.password }}"
      >
    </label>
  </div>

  <div *ngIf="authData">
    <label for="firstname">Nom
      <input
        type="text"
        placeholder="Firstname"
        name="Firstname"
        id="firstname"
        [(ngModel)]="authData.firstname"
        #passwordInput="ngModel"
        required
        value="{{ authData.firstname }}"
        *ngIf="authData"
      >
    </label>
  </div>

  <div *ngIf="authData">
    <label for="lastname">Prénom
      <input
        type="text"
        placeholder="Lastname"
        name="Lastname"
        id="lastname"
        [(ngModel)]="authData.lastname"
        #passwordInput="ngModel"
        required
        value="{{ authData.lastname }}"
      >
    </label>
  </div>

  <button type="submit">Modifier mes informations</button>
</form>
