<div class="container">
  <div class="loginPage" *ngIf="!userIsAuthentificated">
    <div class="loginPage__container">
      <h1>Zap'pa</h1>
      <img class="logo" src="../assets/images/handshake.svg" alt="Logo">
      <app-connection-login *ngIf="!signup"></app-connection-login>
      <app-connection-signup *ngIf="signup"></app-connection-signup>
      <p class="loginPage__container__switch">
        {{buttonText}}
        <span (click)="toggle()">{{buttonName}}</span>
      </p>
    </div>
  </div>
  <main *ngIf="userIsAuthentificated">
    <app-header></app-header>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
