<h2>Créer un pari</h2>
<form (submit)="onAddBet(betForm)" #betForm="ngForm">
  <input
   type="text"
   name="title"
   ngModel
   required
   placeholder="Titre du pari"
   #title="ngModel">
  <span *ngIf="title.invalid">Veuillez entrer le titre du pari.</span>
  <textarea
   rows="10"
   name="content"
   ngModel
   required
   placeholder="Contenu du pari"
   #content="ngModel"></textarea>
  <span *ngIf="content.invalid">Veuillez entrer le contenu du pari.</span>
  <button type="submit">Valider mon pari</button>
</form>
