<h2>Créer un pari</h2>
<form (submit)="onSaveBet(betForm)" #betForm="ngForm">
  <input
   type="text"
   name="title"
   [ngModel]="bet?.title"
   required
   placeholder="Titre du pari"
   #title="ngModel">
  <textarea
   rows="10"
   name="content"
   [ngModel]="bet?.content"
   required
   placeholder="Contenu du pari"
   #content="ngModel"></textarea>
  <select
  name="type"
  id=""
  [ngModel]="bet?.type"
  required
  #type="ngModel">
    <option value="" disabled>Type de pari</option>
    <option value="defi">Défi</option>
    <option value="promesse">Promesse</option>
    <option value="objectif">Objectif</option>
  </select>
  <button type="submit">Valider mon pari</button>
</form>
