<h2>Ma liste<br>de Zap'pa</h2>

<ul *ngIf="bets.length > 0">
  <li *ngFor="let bet of bets" class="bet">
    <div class="bet__content" *ngIf="userIsAuthentificated && userId === bet.creator">
      <div class="bet__content-intro">
        <div class="bet__content-intro__type defi" *ngIf="bet.type === 'defi'">
          <p *ngIf="bet.type === 'defi'">D</p>
        </div>
        <div class="bet__content-intro__type objectif" *ngIf="bet.type === 'objectif'">
          <p *ngIf="bet.type === 'objectif'">O</p>
        </div>
        <div class="bet__content-intro__text">
          <h3>{{ bet.title }}</h3>
          <p class="type">{{ bet.type }}</p>
        </div>
      </div>
      <div class="bet__content-date">
        <p>{{ bet.dateEnd | date : "dd.MM.y" }}</p>
      </div>
      <div class="bet-image">
        <img [src]="bet.imagePath" [alt]="bet.title">
      </div>
      <p class="bet__content__resume">{{ bet.content }}</p>
      <div class="bet__content__buttons">
        <a class="defi"[routerLink]="['/edit', bet.id]" *ngIf="userIsAuthentificated && userId === bet.creator && bet.type === 'defi'">Modifier</a>
        <a class="objectif"[routerLink]="['/edit', bet.id]" *ngIf="userIsAuthentificated && userId === bet.creator && bet.type === 'objectif'">Modifier</a>
        <button (click)="onDelete(bet.id)" *ngIf="userIsAuthentificated && userId === bet.creator ">Supprimer</button>
      </div>
    </div>
  </li>
</ul>

<a routerLink="/create" class="add-bet"></a>

<p *ngIf="bets.length <= 0">Aucun challenge en cours ?</p>
<button *ngIf="bets.length <= 0" routerLink="/create" class="create-challenge">Je crée mon challenge</button>
